VITE_SUPABASE_URL=https://uhnbpmzlsuzaxnkbiupc.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=your_publishable_key
VITE_RINGCENTRAL_EMBEDDABLE_CLIENT_ID=
VITE_RINGCENTRAL_EMBEDDABLE_CLIENT_SECRET=
VITE_RINGCENTRAL_EMBEDDABLE_JWT=
VITE_RINGCENTRAL_EMBEDDABLE_SERVER_URL=https://platform.ringcentral.com
RINGCENTRAL_SERVER_URL=https://platform.ringcentral.com
RINGCENTRAL_CLIENT_ID=
RINGCENTRAL_CLIENT_SECRET=
RINGCENTRAL_USER_JWT=
